{% extends 'main/base.html' %} {% block content %}

<div class="row">
  <div class="col-md-6">
    <br />
    <form action="" method="Post" id="form_siswa">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nama Depan</label>
        <input
          type="text"
          class="form-control form-control-sm"
          id="nama_depan"
          name="nama_depan"
          aria-describedby="Nama Depan"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nama Belakang</label>
        <input
          type="text"
          class="form-control form-control-sm"
          id="nama_belakang"
          name="nama_belakang"
          aria-describedby="Nama Belakang"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Kelas</label>
        <select
          class="form-control form-control-sm"
          name="kelas_id"
          id="kelas_id"
          required
        >
          <option value=""></option>
          {% for data in kelas %}
          <option value="{{ data.id }}">Kelas {{ data.nama_kelas }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="button" class="btn btn-primary" id="simpan_siswa">
        Submit
      </button>
    </form>
  </div>
  <div class="col-md-12">
    <br />
    <div id="result_siswa"></div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="modal_siswa_edit"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form action="" method="Post" id="form_siswa_edit">
              {% csrf_token %}
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Nama Depan</label
                >
                <input
                  type="text"
                  class="form-control form-control-sm"
                  id="nama_depan_edit"
                  name="nama_depan"
                  aria-describedby="Nama Depan"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Nama Belakang</label
                >
                <input
                  type="text"
                  class="form-control form-control-sm"
                  id="nama_belakang_edit"
                  name="nama_belakang"
                  aria-describedby="Nama Belakang"
                />
                <input type="hidden" name="siswa_id" id="siswa_id_edit" />
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Kelas</label>
                <select
                  class="form-control form-control-sm"
                  name="kelas_id"
                  id="kelas_id_edit"
                  required
                >
                  <option value=""></option>
                  {% for data in kelas %}
                  <option value="{{ data.id }}">
                    Kelas {{ data.nama_kelas }}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" id="update_siswa" class="btn btn-primary">
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
